* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  background: black;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 56.25vw;
  position: relative;
  background-color: #131313;
  background: url(./cover.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.video-responsive,
.video {
  position: absolute;
  width: 100vw;
  height: 56.25vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.canvas {
  position: absolute;
  width: 100vw;
  height: 56.25vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  position: relative;
  background: black;
  color: white;
}

.column {
  max-width: 450px;
  padding: 30px;
  padding-bottom: 300px;
}

.about {
  font-size: 20px;
  font-style: normal !important;
  font-weight: 300 !important;
  letter-spacing: 0.3px;
  line-height: 1.42;
  width: 100%;
  margin-bottom: 15px;
}

.contact {
  font-size: 14px;
  font-style: normal !important;
  font-weight: 300 !important;
  letter-spacing: 0.4px;
  line-height: 1.7;
  width: 100%;
  border-top: 1px solid white;
  padding-top: 15px;
}

.link {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

@media (min-width: 600px) {
  .column {
    max-width: 450px;
    padding-left: 50px;
  }
}