* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

html,
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  background: black;
  overflow-x: hidden;
}

.strikethrough {
  position: relative;
}

.strikethrough:before {
  border-bottom: 4px solid #1dff3c;
  position: absolute;
  content: "";
  width: 100%;
  top: 50%;
}

.blue-font {
  color: #1dff3c;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  margin-bottom: 80px !important;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
}

.loader:before {
  left: -3.5rem;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5rem;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5rem 0 -1.3rem;
  }
  40% {
    box-shadow: 0 2.5rem 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5rem 0 -1.3rem;
  }
  40% {
    box-shadow: 0 2.5rem 0 0;
  }
}

/**
* Vimeo player styling
*/

.click-catcher {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.001);
  z-index: 1000;
}

.vimeo-fullscreen,
.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.vimeo-wrapper {
  z-index: -1;
}

.videobg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set video container element width here */
  height: 100%; /* Set video container element height here */
}

.videobg {
  display: block;
  content: "";
  position: relative;
  width: 100%; /* Set video container element width here */
  height: 100%; /* Set video container element height here */
}

/* horizontally center the video */
.videobg-width {
  position: absolute;
  width: 100%; /* Change width value to cover more area*/
  height: 100%;
  left: -9999px;
  right: -9999px;
  margin: auto !important;
}

/* set video aspect ratio and vertically center */
.videobg-aspect {
  position: absolute;
  width: 100%;
  height: 0;
  top: -9999px;
  bottom: -9999px;
  margin: auto !important;
  padding-bottom: 56.25% !important; /* 16:9 ratio */
  overflow: hidden;
}

.videobg-make-height {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.videobg-hide-controls {
  /* box-sizing: content-box; */
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  /* Vimeo timeline and play button are ~55px high */
  /* padding: 55px 97.7777px !important; */ /* 16:9 ratio */
  /* top: -55px; */
  /* left: -97.7777px; */ /* 16:9 ratio */
}

body .videobg iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  border: 0 none;
}

/**
  * Custom text-area styling
  */

body .text-section {
  padding: 40px !important;
  padding-top: 20px !important;
  max-width: 600px;
  line-height: 1.4 !important;
  letter-spacing: 0.5px;
  text-align: left;
}

body .text-section.padding--small {
  padding: 60px !important;
  padding-top: 30px !important;
}

body .text-section.width--small {
  max-width: 450px;
}

body .text-section.text--white {
  color: white !important;
}

body .center-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .text-section.centered {
  text-align: center !important;
}

body .text-section.centered .title {
  text-align: center !important;
}

body .text-section.centered a,
body .text-section.centered p {
  text-align: center !important;
}

body .text-section .title {
  font-size: calc(42px * 0.7);
  text-align: left !important;
  font-weight: 200 !important;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 6px;
  color: white;
}

body .text-section a,
body .text-section p {
  font-size: calc(20px * 0.7);
  text-align: left;
  font-weight: 200 !important;
  line-height: 1.4 !important;
  margin: 0;
  letter-spacing: 0.5px;
}

body .text-section a {
  color: white;
  text-decoration: underline;
}

body .text-section a:hover {
  color: gray;
}

body .text-section.hover--black a:hover {
  color: black;
}

body .text-section.hover--blue a:hover {
  color: #1ACADF;
}

@media screen and (min-width: 900px) {
  body .text-section {
    padding: 80px !important;
    padding-top: 60px !important;
  }

  body .text-section .title {
    font-size: calc(42px * 0.8);
  }

  body .text-section a,
  body .text-section p {
    font-size: calc(20px * 0.8);
  }

  body .text-section {
    padding: 100px !important;
    padding-top: 70px !important;
    max-width: 760px;
  }

  body .text-section.width--small {
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  body .text-section .title {
    font-size: 42px;
  }

  body .text-section a,
  body .text-section p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-height: 799px) {
  body .text-section {
    max-width: 940px !important;
    padding: 100px !important;
    padding-top: 70px !important;
  }
}

@media screen and (min-width: 1200px) and (min-height: 800px) {
  body .text-section.width {
    max-width: 840px !important;
    padding: 120px !important;
    padding-top: 80px !important;
  }

  body .text-section.width--small {
    max-width: 600px !important;
  }
}
